/* Write your CSS here */

.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.total-cast {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
}

.order {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
}

.item-cart {
  color: #616e7c;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
}
